<!DOCTYPE html>
<html>
<head>
    <title>UrLeaders: @ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <header class="container">
        <nav class="navbar navbar-dark bg-dark navbar-expand-md">
            <h1 class="navbar-brand">Welcome to UrLeaders</h1>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#theMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="theMenu" class="navbar-collapse collapse">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Senator" asp-action="Index">Senators</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="FindUrLeader" asp-action="Index">FindUrLeader</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Contact Me</a></li>

                    @*<partial name="_LoginPartial" />*@

                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register" asp-style="float:right">Register</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Account" asp-action="LogIn" asp-style="float:right">Log In</a></li>
                    }
                    else
                    {
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="UserHome" asp-action="Index">Your Page</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Account" asp-action="LogOut" asp-style="float:right">Welcome @User.Identity.Name!</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Account" asp-action="LogOut" asp-style="float:right">Log Out</a></li>
                    }
                </ul>
            </div>
        </nav>
    </header>

    <section class="container">
        <partial name="_CookieConsentPartial" />

        <div class="container body-content">
            <h2>@ViewBag.Title</h2>
            @RenderBody()
            <hr />
        </div>
    </section>

    <footer class="container">
        <div class="text-center">UrLeaders&copy; - God Bless America - @DateTime.Now.ToString() </div>
    </footer>

    <script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", false)
</body>

</html>