
<h2>Read Senator</h2>

@{ 
    Senator senator = ViewBag.mySenator;
}

<div>
    SenatorID : @senator.SenatorID <br />
    Full Name : @senator.SenatorName <br />
    Represents State in Congress :  @senator.StateID @*@senator.State.StateName*@<br /> @*Not showing @senator.State *@
    Represents party in Congress :  @senator.PartyID @*@senator.Party.PartyName*@<br /> @*Not showing @senator.Party *@
    Age : @senator.Age <br />
    Date Oath of Officer was taken : @senator.YearsServed <br />
    Seat up for Election in : @senator.SeatUp <br />
    Occupation : @senator.Occupation
</div>
<br/>
<br/>
<a asp-controller="Senator" asp-action="Index">Back to Senator Selector</a>